AuthMySQL On
AuthName "Authentication required"
AuthType Basic
AuthUserFile /dev/null
AuthBasicAuthoritative Off
Auth_MySQL_Host localhost
Auth_MySQL_User potsbliz
Auth_MySQL_Password potsbliz
AuthMySQL_DB potsbliz
AuthMySQL_Password_Table mysql_auth
Auth_MySQL_Username_Field username
Auth_MySQL_Password_Field passwd
Auth_MySQL_Empty_Passwords Off
Auth_MySQL_Encryption_Types PHP_MD5
Auth_MySQL_Authoritative On
require user admin
